@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    
}

body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.header{
    background: rgb(11,0,195);
background: linear-gradient(90deg, rgba(11,0,195,1) 0%, rgba(0,212,255,1) 100%);
    padding-bottom: 5%;
}
.header center{
    font-size: 45px ;
    padding-top: 5%;
    font-weight: 900;
    color:white;
}
@media screen and (max-width: 900px) {
    .header center{
        font-size: 25px;
    }
    .content1 h1{
        font-size: 25px;
    }

    .content1 p{
        font-size: 15px;
    }

  }
  
.content1{
    margin-left: 10%;
    margin-right: 10%;
 
    padding-top: 5%;
   
    
}
.mainimg {
padding-left: 15%;
}

.content1 h1{
    font-size: 35px;
    font-weight: 900;
    color: rgb(11,0,195);
   
}

.content1 p{
    font-size: 20px;
    width: 100%;
  
}




.column {
float: left;
    width: 25%;
    margin-left: 16.5% ;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 900px) {
    .column {
      width: 100%;
      display: block;
      margin-left: 0%;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:rgb(11,0,195) ;
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 10px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container h2{
    color: white;
  }
.title{
    color: white;
}


  .team{
    padding-top: 3%;
  }